.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}
.header-container h1 {
  cursor: pointer;
}
.header-container button {
  margin: 0rem 0.5rem;
}
.logout-btn {
  background-color: #213144;
  color: #008cff;
  border: 1px solid #008cff;
}
.user-header {
  display: flex;
}
.user-header h2 {
  margin-right: 1rem;
  cursor: pointer;
}
