.profile-info-container {
  border: 1px solid grey;
  width: 100%;
  padding: 1rem;
}

.profile-img {
  width: 8rem;
  border-radius: 100%;
  border: 2px solid grey;
}
.following-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.following {
  display: flex;
  margin-top: 0.5rem;
}
.following p {
  cursor: pointer;
}
.following p {
  margin-right: 1rem;
  font-weight: bold;
  font-size: 18px;
}
.unfollow-btn {
  background-color: #213144;
  color: rgb(0, 140, 255);
  border: 1px solid rgb(0, 140, 255);
}
